<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
  
        <h1>
            Edit
        </h1>
        <div class="col-12">
            <label for="">Danh mục</label>
            <select name="" id="" class="form-select" ng-model="selectedItem">
                <option ng-repeat="cate in category" value="{{cate.id}}" selected>{{cate.name}}</option>
            </select> 
            <span ng-show="kiemTraDuLieu.category == true" style="color: red;">Vui lòng chọn danh mục</span>
        </div>
        <div class="col-12">
            <label>Name:</label>
            <input type="text" ng-model="inputValue.name" class="form-control ">
            <span ng-show="kiemTraDuLieu.name == true" style="color: red;">Vui lòng nhập tên</span>
        </div>
        <div class="col-12">
            <label>Price:</label>
            <input type="number" ng-model="inputValue.price" class="form-control">
            <span ng-show="kiemTraDuLieu.price == true" style="color: red;">Vui lòng nhập giá</span>
        </div>
        <button ng-click="onEditForm()" class="btn btn-success m-2  ">Sửa</button>
    </form> 
</body>
</html>


